<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="master.css">
    <title>Grilled Cheezy</title>
  </head>
  <body>
    <%= erb :nav %>
    <%= yield %>
    <%= erb :footer %>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
