<div class="form container">
  <h1 class="centertext">What do you know about Cheez?</h1>
  <form action="/posts" method="post">
    <input type="text" name="title" id="title" placeholder="Post Title" required>
    <textarea name="content" cols="3" id="content" placeholder="Type here" style="background-color: white; font-family: 'Nunito';" required></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
