@font-face {
  font-family: "MeltdownMF";
  src: url("fonts/MeltdownMF.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Regular.ttf');
}

body {
  background-color: orange;
}

h1 {
  font-family: "MeltdownMF";
}

p {
  font-family: "Nunito";
}

input {
  background-color: white!important;
}

input[type=submit] {
  background-color: #dbbb2b!important;
}

.logo {
}

.form {
  margin: 1.5em auto;
  padding: 1rem 2rem;
  background-color: #ceb455;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
  min-width: 40%;
  max-width: 500px;
}

nav {
  max-height: 11vh;
  display: flex;
  justify-content: space-between;
  background-color: slategray;
  margin-bottom: 1.5em;
  padding: .1em .1em;
}

.centertext {
  text-align: center;
}

footer {
  margin-top: 1.5em;
  background-color: slategray;
  padding: 1em 2em;
}
