@font-face {
  font-family: "MeltdownMF";
  src: url("fonts/MeltdownMF.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Regular.ttf');
}

body {
  background-color: orange;
}

h1 {
  font-family: "MeltdownMF";
}

p {
  font-family: "Nunito";
}

input {
  background-color: white!important;
}

input[type=button] {
  background-color: #dbbb2b!important;
}

input[type=submit] {
  background-color: #dbbb2b!important;
}

.logo {
  width: auto;
  max-height: 18vh;
  margin-top: .6em;
  margin-left: .8em;
}

.form {
  margin: 1.5em auto;
  padding: 1rem 2rem;
  background-color: #ceb455;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
  min-width: 40%;
  max-width: 500px;
}

nav {
  height: 11vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: slategray;
  margin-bottom: 1.5em;
  padding: 0 1em;
}

.nav-left, .nav-center, .nav-right {
  height: 11vh;
  display: flex;
}

.nav-center {
  justify-content: center;
  align-items: center;
}

.nav-right {
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 0!important;
}

.centertext {
  text-align: center;
}

footer {
  margin-top: 1.5em;
  background-color: slategray;
  padding: 1em 2em;
}

.last {
  margin-left: 1em!important;
}

.card-top {
  background-color: #5d3019;
  color: orange;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: .5em .7em .5em .7em;
}

.card-middle {
  background-color: orange;
  color: #5d3019;
  border-radius: 7px;
  border: 2px solid;
  padding: 1em 1.5em;
}

.card-bottom {
  background-color: #5d3019;
  color: orange;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em 1.5em;
}

h2,h3,h4,h5,h6,p {
  margin-bottom: 0;
}
