<div class="form container">
  <h1 class="centertext">Create an Account</h1>
  <% if @error != nil %>
  <h5 style="color: red;" class="centertext"><%= @error %></h5>
  <% elsif @success != nil %>
  <h5 style="color: green;" class="centertext"><%= @success %></h5>
  <% end %>
  <form action="/join" method="post">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="By Default, this is your Username" required><br>
    <label for="firstName">First Name</label>
    <input type="text" name="first_name" id="firstName" placeholder="Required*" required><br>
    <label for="lastName">Last Name</label>
    <input type="text" name="last_name" id="lastName" placeholder="Required*" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Must be at least 8 characters" required><br>
    <label for="passwordConfirm">Confirm Password</label>
    <input type="password" name="password_confirm" id="passwordConfirm" placeholder="Enter your password again" required><br>
    <label for="birthdate">Birthdate</label>
    <input type="date" name="birthdate" id="birthdate" required><br>
    <input type="submit" value="Submit">
  </form>
</div>
