<h1>Create an Account</h1>
<form action="/join" method="post">
  Email<br>
  <input type="text" name="email" required><br>
  First Name<br>
  <input type="text" name="first_name" required><br>
  Last Name<br>
  <input type="text" name="last_name" required><br>
  Password<br>
  <input type="password" name="password" required><br>
  Confirm Password<br>
  <input type="password" name="password_confirm" required><br>
  Birthdate<br>
  <input type="date" name="birthdate" required><br>
  <p>
    <input type="submit" name="Submit" value="Join!">
  </p>
</form>
