<h1>Create an Account</h1>
<form action="/join" method="post">
  Email<br>
  <input type="text" name="email"><br>
  First Name<br>
  <input type="text" name="first_name"><br>
  Last Name<br>
  <input type="text" name="last_name"><br>
  Password<br>
  <input type="password" name="password"><br>
  Confirm Password<br>
  <input type="password" name="password_confirm"><br>
  Birthdate<br>
  <input type="date" name="birthdate"><br>
  <p>
    <input type="submit" name="Submit" value="Join!">
  </p>
</form>
